<h1>Todos</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!todos"><em>Loading...</em></p>

<table class='table' *ngIf="todos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Todo</th>
            <th>Start on</th>
            <th>End on</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.text }}</td>
            <td>{{ todo.startDate }}</td>
            <td>{{ todo.dueDate }}</td>
            <td>{{ todo.isComplete }}</td>
        </tr>
    </tbody>
</table>
